@import "auth0-features.css";
@import "button.css";
@import "code-snippet.css";
@import "page-footer.css";
@import "hero-banner.css";
@import "page-loader.css";
@import "nav-bar.css";
@import "mobile-nav-bar.css";
@import "grids/index.css";
@import "layouts/index.css";
@import "angular.css";

/* General / Utility */

.card {
  width: 30rem;
  display: inline-grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: hsla(0, 0%, 100%, 0.12);
  border-radius: 5px;
  padding: 0.8rem;
  margin: 1.2rem;
}

.card:hover {
  transform: scale(1.04);
}

.card__img {
  display: block;
  width: 27rem;
  height: 18rem;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.card__headers-container {
  padding: 2px 16px;
}