.content-block-layout__folders {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  /* min-height: 340px; */
  min-width: 28rem;

  /* responsive */

  padding: 1rem;
}

.content-block-layout__galleries {
  display: grid;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 0.5rem;
}

.content-block__header {
  margin-top: 0;
  color: var(--white);
}

.content-block__body {
  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.content-block__tab {
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  flex-direction: row;
  justify-content: auto;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 2.5rem;
  margin-top: 1.6rem;
  padding-top: 1.5rem;
  font-weight: 500px;
  color: rgb(206, 206, 206);
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  border-radius: 0px 10px 10px 0px;
  width: 100%;
}

.content-block__tab:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.15);
}

.content-block__tab:last-child {
  margin-right: 0;
}

.content-block__title {
  padding: 0 1rem;
}

.content-block__title--active {
  padding: 0 1rem;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--indigo);

  /* responsive */

  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  /* background-color: rgba(255, 255, 255, 0.15); */
}

.content-block__button-container {
  display: flex;
  flex-direction: row;
}

.content-block__button {
  align-self: center;
  margin-left: auto;
  padding: 0.3rem 1.5rem;
  color: var(--white);
  
  background: none;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
}

.content-block__button:hover {
  background-color: rgba(255, 255, 255, 0.079);
}

.content-block__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.context-menu {
  position: absolute;
  min-width: 10rem;
  background-color: rgb(50, 50, 50);
  border-radius: 0.5rem;
}

.context-menu__item {
  display: flex;
  justify-content: start;
  padding: 1.5rem 1.8rem;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 0.05rem;
  line-height: 16px;
}

.context-menu__item:hover {
  background-color: rgb(73, 73, 73);
  border-radius: 0.5rem;
}

#page-description {
  display: flex;
  flex-direction: column;
}

#page-description span {
  margin-bottom: 1.6rem;
}

#page-description span:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .content-layout {
    padding: 1.6rem;
  }

  .content__title {
    font-size: 2.4rem;
  }
}
