.content-block-layout__folders {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  /* min-height: 340px; */
  min-width: 28rem;

  /* responsive */

  padding: 10px;
}

.content-block-layout__galleries {
  display: grid;
  width: 100%;
  /* width: 68vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
  /* grid-template-columns: 35rem; */
  /* width: 5rem; */
}

.content-block__title {
  margin-top: 0;
  color: var(--white);
}

.content-block__body {
  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.content-block__tab {
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  flex-direction: row;
  justify-content: left;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  color: rgb(206, 206, 206);
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  border-radius: 0px 10px 10px 0px;
}

.content-block__tab:last-child {
  margin-right: 0;
}

.content-block__tab--active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--indigo);
  list-style-type: none;

  /* responsive */

  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  background-color: rgba(255, 255, 255, 0.15);
}

.content-block__tab:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.15);
}

.content-block__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-description {
  display: flex;
  flex-direction: column;
}

#page-description span {
  margin-bottom: 1.6rem;
}

#page-description span:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .content-layout {
    padding: 1.6rem;
  }

  .content__title {
    font-size: 2.4rem;
  }
}
